.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #b8b8b8;
}

.Icon {
    font-size: 80px;
    margin-bottom: 30px;
    color: rgb(20, 121, 20);
}

.Login-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.Login h3{
    opacity: 0.7;
}

.Senha {
    margin-top: 5px;
}

.Login button {
    margin-top: 5px;
}